# Ignore environment variables
.env

# Ignore node_modules
node_modules/

# Ignore logs
*.log

# Ignore build files (if any)
build/
dist/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store